.tracker {
    width: 400px;
    margin: 0 auto;
    background: rgb(88, 36, 36);
}

.tracker__container {
    width: 90%;
    padding: 20px;
}

.tracker__title {
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.tracker__balance__text {
    color: rgb(161, 62, 62);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.tracker__balance__number {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 0;
    padding-left: 5px;
}

.tracker__card {
    background: rgb(241, 197, 197);
    margin-bottom: 50px;
    display: flex;
    padding: 10px;
}

.tracker__card__income {
    border-right: 1px solid rgb(88, 36, 36);
    padding-left: 53px;
    width: 35%;
}

.tracker__income {
    color: rgb(88, 36, 36);
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tracker__income__balance {
    color: green;
    padding-left: 10px;
}

.tracker__card__expense {
    padding-left: 60px;
}

.tracker__expense {
    color: rgb(88, 36, 36);
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tracker__expense__balance {
    color: red;
    padding-left: 12px;
}

.tracker__history {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.tracker__history::after {
    display: block;
    content: "";
    height: 1px;
    background: whitesmoke;
    margin-top: 10px;
    margin-bottom: 50px;
}

.tracker__item {
    background: rgb(241, 197, 197);
    display: flex;
    justify-content: space-between;
    border-right: 5px solid red;
    margin-bottom: 30px;
}

.tracker__cross {
    background: rgb(241, 197, 197);
    background-image: url('Cross-Button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}

.tracker__item__text {
    color: rgb(88, 36, 36);
    padding-right: 80px;
}

.tracker__item__balance {
    color: rgb(88, 36, 36); 
    padding-right: 10px;
}

.negative {
    background: rgb(241, 197, 197);
    display: flex;
    justify-content: space-between;
    border-right: 5px solid red;
    margin-bottom: 30px;
}

.positive {
    background: rgb(241, 197, 197);
    display: flex;
    justify-content: space-between;
    border-right: 5px solid green;
    margin-bottom: 30px;
}

.tracker__transation {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.tracker__transation::after {
    display: block;
    content: "";
    height: 1px;
    background: whitesmoke;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tracker__list {
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline whitesmoke;
    cursor: pointer;
}

.tracker__text {
    background: whitesmoke;
    padding: 8px 5px;
    border-radius: 5px;
    border: none;
    width: 96%;
}

.tracker__amount {
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline whitesmoke;
    cursor: pointer;
}

.tracker__positive__income {
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline whitesmoke;
    cursor: pointer;
}

.tracker__amount__number {
    display: block;
    margin-bottom: 10px;
    background: whitesmoke;
    padding: 8px 5px;
    border-radius: 5px;
    border: none;
    width: 96%;
}

.tracker__button {
    background: rgb(241, 197, 197);
    padding: 8px 5px;
    border-radius: 5px;
    width: 99%;
    margin-bottom: 50px;
    cursor: pointer;
}










