.tracker {
    width: 500px;
    margin: 0 auto;
    background: rgb(88, 36, 36);
}

.tracker__container {
    width: 90%;
    padding: 30px;
}

.tracker__title {
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.tracker__balance {
    color: rgb(161, 62, 62);
    text-transform: uppercase;
}

.tracker__card {
    background: rgb(241, 197, 197);
}

.tracker__income {
    color: rgb(88, 36, 36);
    text-transform: uppercase;
}

.tracker__income::after {
    display: block;
    content: "";
    height: 1px;
    background: rgb(88, 36, 36);
    width: 60px;
    margin-top: 10px;
}

.tracker__balance {
    color: rgb(88, 36, 36);
}







